#-----------------------------
# EXECUTABLES
#-----------------------------
*.exe
*.dll
*.so
*.a
*.out


#-----------------------------
# AMBIENT FILES
#-----------------------------
*.env
*.node


#-----------------------------
# PROJECT TESTS
#-----------------------------
*.vut


#-----------------------------
# FOLDERS
#-----------------------------
build/
node_addon/
