#-----------------------------
# EXECUTABLES
#-----------------------------
*.exe
*.dll
*.so
*.a
*.out


#-----------------------------
# AMBIENT FILES
#-----------------------------
*.env
*.node
CONTRIBUTING.md


#-----------------------------
# PROJECT TESTS
#-----------------------------
*.vut


#-----------------------------
# FOLDERS
#-----------------------------
build/
memory/
config/

